<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="snowProject.mapper.GoodsIpgoMapper">

<sql id="ipgoBaseColumns">
	IPGO_NUM, GOODS_NUM, IPGO_QTY, IPGO_DATE, MADE_DATE, IPGO_PRICE, EMP_NUM
</sql>

<insert id="goodsIpgoInsert" parameterType="goodsIpgo">
	insert into goods_ipgo (<include refid="ipgoBaseColumns" />)
	values(#{goodsIpgoNum},#{goodsNum},#{ipgoQty},#{ipgoDate},#{madeDate},#{ipgoPrice},#{empNum})
</insert>

<select id="goodsIpgoSelectList" resultMap="goodsIpgoResultMap">
	select <include refid="ipgoBaseColumns"/>
	from goods_ipgo
</select>

<resultMap type="goodsIpgo" id="goodsIpgoResultMap">
<constructor>
	<idArg column="IPGO_NUM" javaType="string" />
	<idArg column="GOODS_NUM" javaType="string" />
	<arg column="IPGO_QTY" javaType="integer" />
	<arg column="IPGO_DATE" javaType="java.util.Date" />
	<arg column="MADE_DATE" javaType="java.sql.Timestamp" />
	<arg column="IPGO_PRICE" javaType="integer" />
	<arg column="EMP_NUM" javaType="string" />
</constructor>
</resultMap>

<select id="itemSelectList" resultType="goods">
	select * from(
		select rownum rn,  goods_num , goods_name , goods_price ,goods_contents , emp_num  
			  	,goods_regist , GOODS_MAIN_IMAGE ,GOODS_MAIN_STORE_IMAGE 
			   , GOODS_DETAIL_IMAGE ,GOODS_DETAIL_STORE_IMAGE 
			   , visit_count ,update_emp_num , goods_update_date
		from goods
		where goods_name like '%' || #{searchWord} || '%'
		order by goods_num desc
	)
	where rn between #{startRow} and #{endRow}
</select>

<select id="itemListCount" resultType="integer">
	select count(*) from goods
	where goods_name like '%' || #{searchWord} || '%'
</select>

<resultMap type="goodsIpgoGoodsName" id="goodsIpgoGoodsNameResultMap">
	<result column="goods_name" jdbcType="VARCHAR" javaType="string" property="goodsName"/>
	<association property="goodsIpgoDTO" javaType="goodsIpgo" resultMap="goodsIpgoResultMap"/>
</resultMap>

<select id="ipgoGoodsSelectOne" resultMap="goodsIpgoGoodsNameResultMap">
	select ipgo_num, ip.goods_num, ipgo_qty, ipgo_date
			, made_date, ipgo_price, ip.emp_num, goods_name
	from goods_ipgo ip join goods g
	on ip.goods_num = g.goods_num
	where ipgo_num = #{ipgoNum} and ip.goods_num = #{goodsNum}

</select>

<update id="goodsIpgoUpdate" parameterType="goodsIpgo">
	update goods_ipgo
	set ipgo_date=#{ipgoDate}, ipgo_qty=#{ipgoQty}
		, made_date=#{madeDate}, ipgo_price=#{ipgoPrice}
	where (goods_num, ipgo_num) in ((#{goodsIpgoNum}, #{goodsNum}))
</update>

<delete id="ipgoGoodsNumDelete">
	delete from goods_ipgo
	where (ipgo_num, goods_num) in (
		<foreach collection="ipgoNumgoodsNum.split('-')" item="item" 
								close=")" open="(" separator="," index="index">
		#{item}
		</foreach>
	)
</delete>



</mapper>