<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="snowProject.mapper.UserMapper">

<sql id="memberNum">
select concat('mem_', nvl(substr(max(member_num),5),100000)+1) from members
</sql>

<insert id="userInsert" parameterType="memberDTO">
insert into members(MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW
	                   , MEMBER_ADDR, MEMBER_ADDR_DETAIL, MEMBER_POST
	                   , MEMBER_REGIST, GENDER,MEMBER_PHONE1
	                   <if test="memberPhone2 != null">
	                   , MEMBER_PHONE2
	                   </if>
	                   , MEMBER_EMAIL, MEMBER_BIRTH, MEMBER_POINT)
	values((<include refid="memberNum" />)
		  , #{memberName}, #{memberId}, #{memberPw}
	      ,#{memberAddr},#{memberAddrDetail},#{memberPost} 
	      ,sysdate, #{gender}, #{memberPhone1}
	      <if test="memberPhone2 != null">
	      ,#{memberPhone2}
	      </if>
	      ,#{memberEmail},#{memberBirth},0)
</insert>

</mapper>